.container {
  width: 100%;
  max-height: 85vh;
  border-radius: 12px;
  background: rgb(21, 24, 41);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  border: 1px solid var(--border-color);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.tabContainer {
  margin-top: 10px;
  margin-bottom: 14px;
  font-weight: 500;
}

.itemList {
  flex: 1;
  overflow-y: scroll;
  min-height: 0;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid var(--border-color);
}
