.item {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    width: 85%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    
}

p{
    font-size: 20px;
}
h3{
    font: 1.5em sans-serif;
}
.item:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.downloadButton {
    background-color: hwb(212 18% 8%);
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 4px 8px hsl(0, 3%, 32.7%);
    
} 