.itemContainer {
  padding: 8px 0px;
  border-bottom: 1.4px solid var(--border-color);
  transition: all 0.3s ease;
  line-height: 1.2;
  position: relative;
  background: rgb(21, 24, 41);
  height: 100px;
}

.itemContainer:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(124, 58, 237, 0.1);
}

.itemContainer p {
  text-align: left;
}

.textp {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-secondary);
  line-height: 1.6;
  text-align: left;
  margin: 0;
}
.textspan {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-secondary);
  line-height: 1.6;
  margin: 0;
}
.mainContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.previewButtonContainer {
  display: flex;
  gap: 10px;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-primary);
  background: linear-gradient(45deg, var(--primary-light), var(--secondary-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-weight: 600;
  color: var(--text-primary);
  text-align: left;
  font-size: 18px;
  margin: 0;
}

.previewButton {
  color: rgba(121, 85, 229, 0.865);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 0px;
}

.downloadButton {
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease;
  align-self: flex-start;
}

.downloadButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.7;
}

/* 可选：为不同状态添加不同的颜色 */
.downloadButton[disabled]:hover {
  transform: none !important;
}

.downloadButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(124, 58, 237, 0.3);
}

.hotness {
  position: absolute;
  bottom: 19px;
  right: 80px;
  font-size: 15px;
  color: #a6a6a6;
}

.itemContainer:after {
  opacity: 1;
}
