/* 内容区域样式 */
.content {
    /* width: 800px;
    height: 914px;
    background: #ffffff;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px 30px;
    position: relative; */
    margin-top: 100px;
    width: 60vw;
    height: 800px;
    background-color: #ffffff;
    border-radius: 5px 0 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .contentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .sort {
    font-family: 'PingFang SC', sans-serif;
    font-size: 22px;
    color: #909090;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .line {
    border: none;
    border-top: 2px solid rgba(118, 118, 128, 0.12);
    margin-top: 20px;
  }
  
  /* 表格样式 */
  .table {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .tableRow {
    width: 780px;
    height: 50px;
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PingFang SC', sans-serif;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
  }
  
  .tableRow:hover {
    background: rgba(217, 217, 217, 0.4);
  }
  
  /* 点击查看反馈内容弹窗 */
  .feedbackDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  .detailsContent {
    width: 400px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .detailsContent h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #000000;
  }
  
  .detailsContent p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666666;
  }
  
  .closeButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background: #1e80ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .closeButton:hover {
    background: #1565c0;
  }
  