.avatar {
    background-color: #ccc;    
    height: 4vw;
    width: 4vw; 
    margin-top: 0.6vw;
    margin-right: 2vw;
    border-radius: 50%;
}


.Header {
    height: 5.5vw;
    width: 100%;
    top: 0;
    left:0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.Name {
    margin-left: 6vw;
    font-size: 3.5vw;
    color: black;
    order: -1;
    font-weight: 700;
}

.search{
    height: 3vw;
}

.search-input {
    height: 2vw;
    width: 20vw;
    font-size: 1vw;
    margin-right: 5vw;
    margin-top: 1vw;
    border: 0.1vw black solid;
    background-color: white;
    border-radius: 1vw;
    text-indent: 1vw;
}

.search-input::placeholder{
    color: #ccc;
    text-indent: 1vw;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 113, 243);
    color: white;
    border: none;
    height:2vw;
    width: 7vw;
    margin-top: 1vw;
    margin-left: 0.5vw;
    margin-right: 1vw;
    font-size: 1vw;
}

.user:hover{
    background-color: #ccc;
}

.HeaderMenu{
    height: 3vw;
    width: 20vw;
    display: flex;
}

.HeaderMenuButton{
    margin-left: 2vw;
    margin-top: 0.8vw;
    background-color: white;
    color:rgb(179, 177, 177);
    height: 2vw;
    width:4vw;
    font-size: 1.1vw;
    margin-left: 0.1vw;
    margin-bottom: 0.2vw;
    border: none;
    border-radius: 1vw;
    font-weight: 400;
}

.HeaderMenuButton.clicked{
    margin-top: 0.8vw;
    margin-left: 0.1vw;
    margin-bottom: 0.2vw;
    border: none;
    color:black;
    height: 2vw;
    width:4vw;
    font-size: 1.1vw;
    border-radius: 1vw;
    font-weight: 400;
}
