.avatar {
    background-color: #ccc;    
    height: 4vw;
    width: 4vw; 
    margin-top: 0.6vw;
    margin-right: 2vw;
    border-radius: 50%;
}

.Header {
    height: 5.5vw;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.Name {
    margin-left: 6vw;
    font-size: 3.5vw;
    color: black;
    order: -1;
    font-weight: 700;
}

.search {
    height: 3vw;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-input {
    height: 2vw;
    width: 20vw;
    font-size: 1vw;
    margin-top: 1vw;
    border: 0.1vw black solid;
    background-color: white;
    border-radius: 1vw 0 0 1vw; /* 只给左边圆角 */
    text-indent: 1vw;
    outline: none; /* 去掉聚焦时的默认边框 */
    border-right: none; /* 去掉右边边框，让按钮更靠近 */
}

.search-input::placeholder {
    color: #ccc;
    text-indent: 1vw;
}

.search-button {
    height: 2.2vw; /* 调整按钮高度与输入框匹配 */
    width: 4vw; /* 调整按钮宽度 */
    background-color: white;
    border: 0.1vw black solid;
    border-left: none; /* 去掉左边边框，使其与输入框无缝连接 */
    border-radius: 0 1vw 1vw 0; /* 只给右边圆角 */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 1vw;
    font-size: 1vw;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 113, 243);
    color: white;
    border: none;
    height: 2vw;
    width: 7vw;
    margin-top: 1vw;
    margin-left: 0.5vw;
    margin-right: 1vw;
    font-size: 1vw;
}

.user:hover {
    background-color: #ccc;
}

.HeaderMenu {
    margin-top: 1vw;
    height: 2vw;
    width: 25vw;
    display: flex;
    justify-content: space-between; /* 让按钮之间间隙一致 */
}

.HeaderMenuButton {
    background-color: white;
    color: rgb(179, 177, 177);
    height: 2vw;
    width: auto; /* 自动调整宽度 */
    padding: 0 1vw; /* 添加内边距 */
    font-size: 1.1vw;
    border: none;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s; /* 添加颜色过渡效果 */
}

.HeaderMenuButton.clicked {
    border: none;
    color: black;
    height: 2vw;
    width: auto; /* 自动调整宽度 */
    padding: 0 1vw; /* 添加内边距 */
    font-size: 1.1vw;
    border-radius: 1vw;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
