/* body {
  --primary: #7c3aed;
  --primary-light: #a78bfa;
  --primary-dark: #6d28d9;
  --secondary: #3b82f6;
  --secondary-light: #60a5fa;
  --secondary-dark: #2563eb;
  --background: #0f172a;

  --surface-light: rgba(255, 255, 255, 0.08);
  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.8);
  --text-tertiary: rgba(255, 255, 255, 0.6);
  --border-color: rgba(255, 255, 255, 0.1);
} */
body {
  background: radial-gradient(circle at 50% 100%, #0f172a, #020617);
  color: var(--text-primary);
  min-height: 100vh;
  --color-text-1: hsla(0, 0%, 100%, 0.9);
  --color-text-2: hsla(0, 0%, 100%, 0.7);
  --color-text-3: hsla(0, 0%, 100%, 0.5);
}

.QandAContainer {
  display: flex;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: 2rem;
  padding-top: 96px;
  padding-bottom: 2rem;
  gap: 2rem;
}
.post-list-menu {
  /* background-color: var(--surface) !important; */
  border: 1px solid var(--border-color);
  border-radius: 12px;
  --color-menu-dark-bg: rgba(255, 255, 255, 0.05) !important;
}
.right {
  --surface: rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 12px;
  background: var(--surface);
  backdrop-filter: blur(12px);
  border: 1px solid var(--border-color);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  flex: 1;
  overflow: auto;
  max-width: 70%;
  transition: all 0.3s ease;
}
